@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-fnt-clr: #FFFFFF;
  --purple-fnt-clr: #5D3FD3;
  --black-bg-clr: #1E1E1E;
  --gray-bg-clr: #28282B;

  --body-l-r-padding: max(1rem, 7vw);;

  --font-family-title: 'Poppins', sans-serif;
  --font-family-parag: "Inter", sans-serif;

  --line-height-30: 30px;
  --line-height-20: 20px;

  --font-size-title: clamp(17px, 2vw, 23px);
  --font-size-parag: clamp(12px, 1.17vw, 20px);
  --font-size-description-title: clamp(13px, 21px, 23px);
  --font-size-description: clamp(8px, 12px, 18px);
  --font-size-btn: 13px;

  --font-weight-200: 200;
  --font-weight-bold: 600;
  --font-weight-extraBold: 800;
}

/* HERO SECTION heading - font size 128px - line height 120px, SUB HEADING font size - 40px, line height - 90px */

html {
  background-color: var(--black-bg-clr);
  scroll-behavior: smooth;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll_animation_right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes scroll_animation_right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes scroll_animation_top {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

::-webkit-scrollbar {
  display: none;
}

#root {
  overflow-x: visible;
}

header {
  position: sticky;
  top: 0;
  height: fit-content;
  z-index: 99;
  background-color: rgba(30, 30, 30, .5);

  @media (min-width: 450px) {
    backdrop-filter: blur(8px);
  }
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15svh;
  padding: 0 var(--body-l-r-padding);

  .nav-logo {
    font-size: clamp(18px, 2.5vw, 3rem);
    font-weight: var(--font-weight-extraBold);
    font-style: normal;
    font-family: var(--font-family-title);
    color: var(--purple-fnt-clr);
  }

  @media (max-width: 425px) {
      
    .li-container[data-visible="true"] {
      display: block;
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      inset: 0 0 0 30%;
      padding: 0 2rem;
      align-items: center;
      z-index: 5;
      background-color: rgba(108, 122, 137, 0.5);
      backdrop-filter: blur(8px);
      transition: .500s ease-in-out;
      transform: translateX(0%);
    }

    .li-container[data-visible="false"] {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      inset: 0 0 0 30%;
      padding: 0 2rem;
      align-items: center;
      z-index: 5;
      background-color: rgba(108, 122, 137, 0.5);
      backdrop-filter: blur(8px);
      transition: .500s ease-in-out;
      transform: translateX(100%);
    }
    
  }

  .hamburger-react {
    display: none;
    @media (max-width: 425px) {
      display: block;
      z-index: 9999;
    }
  }

  .li-container {
    display: flex;
    gap: max(16px, 2vw);
    color: var(--white-fnt-clr);

    > li {
      list-style: none;

      > a {
        cursor: pointer;
        font-family: var(--font-family-title);
        font-size: var(--font-size-btn);
        font-weight: var(--font-weight-bold);
        text-decoration: none;
        color: var(--white-fnt-clr);

        &:hover {
          color: var(--purple-fnt-clr);
          transition: .300s ease-in-out;
        }

        @media (max-width: 425px) {
          font-size: 1.3rem;
        }
      }
    }
  }
}

/* HERO */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80svh;
  padding: 0 var(--body-l-r-padding);

  .hero-section--intro-container {
    width: 50%;

    @media(max-width: 425px) {
      width: 100%;
    }
  
    > h1 {
      animation: scroll_animation_top 1s linear;
      color: var(--white-fnt-clr);
      font-family: var(--font-family-title);
      font-size: clamp(60px, 7.324vw, 85px);
      line-height: clamp(60px, 6.5vw, 80px);

      > span {
        color: var(--purple-fnt-clr);
      }
    }
    > h2 {
      animation: scroll_animation_top 1s linear;
      animation-delay: 0.1s;
      color: var(--white-fnt-clr);
      font-family: var(--font-family-title);
      font-size: clamp(16px, 2.246vw, 40px);
    }
    > p {
      animation: scroll_animation_top 1s linear;
      animation-delay: 0.3s;
      color: var(--white-fnt-clr);
      font-family: var(--font-family-parag);
      font-size: var(--font-size-parag);
      font-weight: var(--font-weight-200);
    }
  }

  .hero-section--intro-graphic {
    aspect-ratio: 1;
    height: 50vw;
    max-height: 600px;

    @media(max-width: 614px) {
      display: none;
    }
  }
}

/* ABOUT */

.about-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  margin-top: 2.5rem;
  background-color: var(--gray-bg-clr);
  padding: var(--body-l-r-padding);

  * h1 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    color: var(--white-fnt-clr);
    margin: .8rem 0;
  }

  * p {
    font-family: var(--font-family-parag);
    font-size: var(--font-size-parag);
    font-weight: var(--font-weight-200);
    color: var(--white-fnt-clr);
  }

  * span {
    color: var(--purple-fnt-clr);
  }

  .about-me--intro {
    animation: scroll_animation_right 10s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
  }

  .about-me--current-endeavors {
    animation: scroll_animation_right 10s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .about-me-intro-container {
    width: 50%;
    @media (max-width: 768px) {
      min-width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .my-skills-container {
    display: flex;
    gap: 1rem;
    width: 50%;

    @media (max-width: 768px) {
      min-width: 100%;
    }
    
    @media (max-width: 425px) {
      flex-direction: column;
    }

    .logo {
      aspect-ratio: 1;
      width: 2rem;
    }

    .my-skills--language, .my-skills--tools {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .my-skills--language {
      width: 100%;
      height: 100%;

      .my-skills--language-container {
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));

      }
    }

    .my-skills--tools {
      width: 100%;
      height: 100%;

      .my-skills--tools-container {
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      }
    }

    .list-title {
      animation: fade-in linear;
      animation-timeline: view();
      animation-range: entry 0% cover 70%;
      font-size: var(--font-size-title);
      font-weight: var(--font-weight-bold);
    }

    .my-skills--language-card, .my-skills--tools-card {
      display: flex;
      width: max-content;
      animation: scroll_animation_top 10s linear;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;
      align-items: center;
      font-weight: var(--font-weight-extraBold);
      gap: 1rem;
    }

  }
}

/* PROJECT */

.projects-section {
  text-align: center;
  background-color: var(--gray-bg-clr);
  padding-bottom: var(--body-l-r-padding);

  .projects-intro-container {
    padding: var(--body-l-r-padding);

    .projects-title {
      animation: fade-in linear;
      animation-timeline: view();
      animation-range: entry 0% cover 70%;
      font-family: var(--font-family-title);
      font-size: var(--font-size-title);
      color: var(--white-fnt-clr);
      margin-bottom: 1.5rem;
  
      > span {
        color: var(--purple-fnt-clr);
      }
    }
  
    .projects-para {
      animation: scroll_animation_top 10s linear;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;
      font-family: var(--font-family-parag);
      font-size: var(--font-size-parag);
      color: var(--white-fnt-clr);
    }
  }

  .projects-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem var(--body-l-r-padding);
    background-color: var(--black-bg-clr);
    width: 100%;
    height: fit-content;

    .projects-card {
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      aspect-ratio: 16/9;
      width: 20rem;
      border: 2px solid var(--gray-bg-clr);
      border-radius: 10px;

      .projects-card-img-container {
        position: absolute;
        width: 100%;
        height: 100%;

        .card-img {
          aspect-ratio: 16/9;
          object-position: left;
          width: 100%;
          height: 100%;
        }
      }

      .projects-card-des {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        background-color: rgba(40, 40, 43, 0.8);
        backdrop-filter: blur(.3rem);
        height: 100%;
        width: 100%;
        transition: .500s ease-in-out;
        inset: 0 0 0 100%;
        z-index: 5;

        .projects-card-des-text-container {
          height: 100%;
          overflow-x: scroll;

          > h1 {
            font-family: var(--font-family-title);
            font-size: var(--font-size-description-title);
            color: var(--white-fnt-clr);
            margin-bottom: .5rem;
          }

          > p {
            font-family: var(--font-family-parag);
            font-size: var(--font-size-parag);
            color: var(--white-fnt-clr);
          }
  
          > a {
            text-decoration: none;

            > p {
              font-family: var(--font-family-parag);
              font-size: var(--font-size-parag);
              color: var(--white-fnt-clr);
            }
            
            &:hover {
              & p {
                color: var(--purple-fnt-clr);
                font-weight: var(--font-weight-bold);
              }
            }
          }
        }

        .projects-card-des-icon-container {
          padding-top: 10px;
          height: 30%;
          display: flex;
          overflow-y: scroll;
          gap: 10px;

          > img {
            aspect-ratio: 1;
            width: 1.5rem;
          }
        }
      }
    }
    .projects-card:hover {
      .projects-card-des {
        transition: .500s ease-in-out;
        inset: 0 0 0 0;
      }
    }
  }
}

.footer-section {
  display: flex;
  justify-content: space-between;
  height: max-content;
  padding: 3rem var(--body-l-r-padding);

  @media (max-width: 425px) {
    gap: 2rem;
    flex-direction: column-reverse;
  }

  .footer-section-logo-container {
    width: max(30%, 100%);

    @media (max-width: 425px) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    > h1 {
      font-family: var(--font-family-title);
      font-weight: var(--font-weight-extraBold);
      font-size: clamp(18px, 2.5vw, 3rem);
      color: var(--purple-fnt-clr);
    }

    > p {
      font-family: var(--font-family-parag);
      font-weight: var(--font-weight-200);
      font-size: var(--font-size-btn);
      color: var(--white-fnt-clr);
    }
  }
  .footer-section-contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(30%, 100%);

    > h1 {
      font-family: var(--font-family-parag);
      font-weight: var(--font-weight-200);
      font-size: var(--font-size-parag);
      color: var(--white-fnt-clr);
      margin-bottom: .5rem;
    }
    > a > h2 {
      font-family: var(--font-family-parag);
      font-weight: var(--font-weight-bold);
      font-style: normal;
      font-size: var(--font-size-btn);
      color: var(--white-fnt-clr);
    }
  }
  .footer-section-socials-container {
    width: max(30%, 100%);
  }
}